* {  
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Poppins';
    font-style: normal;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-size: 65%;
    scroll-behavior: smooth;
    
}

.page{
    padding: 2rem;
    max-width: 1440px; 
    margin: 0;        
}
.header{
    position: absolute;
    padding-left: 5rem;
    display: flex;
    justify-content: space-between;
    width: 1290px;
    height: 40px;
    top: 70px;
}

.btn{
    /* box-sizing: border-box; */
    width: 10rem;
    background: #FFFFFF;
    border: 1px solid #FF52C1;
    box-shadow: 0px 0px 9px rgba(255, 82, 193, 0.218778);
    border-radius: 15px;
    color: #FF52C1;
    cursor: pointer;
}

.hero, .hero-2{
    position: relative;
    margin-top: -15rem;
    align-items: center;
}

.build h4{
    left: 30rem;
    text-align: center;
    margin-top: 30rem;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #00252E;

}

.build h5{
    position: absolute;
    width: 550px;
    left: 37rem; 
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #00252E;
}

.btn1, .hero-2 .btn{
    position: relative;
    left: 50rem;
    top: 12rem; 
    height: 50px;
    width: 280px;
    background: #FF52C1;
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
    border-radius: 40px;
    border: none ;
    color: #FFFFFF;
    cursor: pointer;
}

.mockup{
    position: absolute;
    left: 15rem;
    top: 30rem;;

}

.diagram{
    position: absolute;
    justify-content: space-between;
  
}

.icon-1{
    position: absolute;
    left: 24rem;
    top: 100rem;
}

.icon-2{
    position: absolute;
    left: 83rem;
    top: 100rem;
}

.diagram h1{
    font-weight: 600;
    font-size: 70px;
    line-height: 144px;
    color: #00252E;
}

.diagram p{
    position: relative; 
    top: -3rem; 
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #808E9A;
    
}

.shape, .shape-box{
    position: absolute;
    left: -8rem;

}

.col-0, .colo-2{
    position: absolute; 
    height: 35rem;
     left: 8rem; 
    top: 125rem; 
}

.shape p, .shape-box p{
    position: absolute;
    left: 8rem;
    top: 28rem;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #00252E;
}

.shape h2, .shape-box h2{
    position: absolute;
    width: 40rem;
    top: 35rem;
    left: 8rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00252E;
}

.shape .col-3, .box .colo-3{
    position: absolute;
    display: flex;
    width: 10em;
    height: 35rem;
    left: 80rem;
    top: 145rem;
    
}

.flower{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 235rem;
}

.flower .col-5{
    position: absolute;
    display: flex;
    width: 10em;
    height: 35rem;
    left: 8rem;
    
}

.flower p{
    position: absolute;
    display: flex;
    height: 60px;
    width: 50rem;
    left: 75rem;
    top: -8rem;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #00252E;
}

.flower h2{
    position: absolute;
    height: 48px;
    left: 75rem;
    width: 45rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
color: #00252E;
}

.colo-2{
 top: 270rem;
}

.shape-box p{
    left: 20rem;
    top: 20rem;

}

.shape-box h2{
    top: 27rem;
    left: 20rem;
   
}

.shape-box .colo-3{
    position: relative;
    display: flex;
    width: 10em;
    height: 35rem;
    left: 80rem;
    top: 285rem;
    
}

.hero-2{
    width: 680px;
    left: 389px;
    top: 350rem;
}

.hero-2 p{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #00252E;
}

.hero-2 .btn{
    left: 14rem;
    width: 22rem;
    height: 4rem;
    top: 3rem;
}

footer {
    position: relative;
    display: flex;
    top: 360rem;
}

footer img{
    width: 129rem;
    left:- 1rem;
     height: 55rem;
}

footer .foot-logo {
    position: absolute;
    left: 15rem;
    top: 20rem;
    
}
footer .foot-logo svg path{
    fill: #ffffff;
}

footer p{
    position: absolute;
    top: 25rem;
    left: 15rem;
    width: 26rem;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.phone-icon svg{
    position: absolute;
    top: 35rem;
    left: 15rem;
}


.phone-icon p{
    position: absolute;
    top: 35rem;
    left: 18rem;
}

.mail-icon svg{
    position: absolute;
    top: 39rem;
    left: 15rem;
}

.mail-icon p{
    position: absolute;
    top: 38.50rem;
    left: 18rem;
}

.social-icon {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 10rem;
    top: 48rem;
    left: 15rem;

}

.social-icon svg path{
    fill: #FFFFFF;
    cursor: pointer;
}

.new-icon h1{
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: 20rem;
    left: 76rem;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;  
    color: #FFFFFF;
}

.new-icon p{
    width: 30rem;
    top: 24rem;
    left: 76rem;
}

.new-icon button{
    position: absolute;
    left: 76rem;
    width: 27rem;
    height: 4rem;
    top: 34rem;
    background: #f8f7f7;
    border: 1px solid #FF4343;
    border-radius: 6px;
    cursor: pointer;
}

.new-icon h2{
    position: absolute;
    display: flex;
    align-items: center;
    top: 38rem;
    left: 76rem;
    width: 12rem;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #FF4343;
}

.subs button{
    position: absolute;
    left: 106rem;
    width: 10rem;
    height: 4rem;
    top: 34rem;
    background: #FF8ED7;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}


@media only screen and (max-width: 375px), only screen and (min-device-width: 480px) {
    
    main{
        width: 375px;
          
    }

    .page{
        position: relative;
        padding: 3rem;
        width: 375px;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
    }

    .header{
        display: flex; 
    }

    .hero, .hero-2{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .hero .build h4{
       position: absolute;
        top: 4rem;
        width: 50rem;
        left: 40rem;
    }

    .hero .build h5{
        top: 55rem;
        width: 35rem;
        left: 45rem;
    }

    .hero .btn1{
        position: absolute;
        top: 75rem;
        left: 48rem;

    }

    .mockup{
        display: flex;
        top: 95rem;
    }

    .diagram{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .icon-1 {
        top: 180rem;
        left: 50rem;
    }

    .col-1 h1{
        top: 10rem;
        left: 50rem;
    }

    .icon-2{
        top: 210rem;
        left: 50rem;;
    }

    .shape{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 100rem;
    }

    .col-0 img{
        position: relative;
        width: 129rem;
        height: 95rem;
    }

    .shape .col-3{
        left: 50rem;
    }

    .col-0 p{
        top: 60rem;
        left: 50rem;
    }

    .col-0 h2{
        width: 38rem;
        top: 70rem;
        left: 45rem;
    }

    .flower{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 350rem;
        /* height: 100%; */
    }

    .flower .col-5 {
        left: 40rem;
    }

    .flower p{
        top: 23rem;
        left: 40rem;
    }

    .flower h2{
        top: 33rem;
        left: 37rem;
    }

    .shape-box{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 140rem;
    }

    .colo-2 img{
        position: relative;
        width: 129rem;
        height: 92rem;
    }

    .shape-box .colo-3{
        left: 50rem;
    }

    .colo-2 p{
        top: 55rem;
        left: 55rem;
    }

    .colo-2 h2{
        width: 38rem;
        top: 65rem;
        left: 45rem;
    }
    
    .hero-2{
        position: absolute;
        top: 530rem;
    }

    .hero-2 p{
        width: 35rem;
    }

    .hero-2 p span{
        position: absolute;
        top: 5rem;
        left: 10rem;
    }

    .hero-2 .btn{
        top: 10rem;
        left: -30rem;
    }

    footer {
        top: 550rem;
    }

    footer img{
        width: -130rem;
    }



}


