* {  
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Poppins';
    font-style: normal;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-size: 65%;
    scroll-behavior: smooth;
    
}

.page-content{
    padding: 2rem;
    max-width: 1440px; 
    margin: 0;        
}

.header-content{
    position: absolute;
    padding-left: 8rem;
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 40px;
    top: 60px;
}

.btn{
    /* box-sizing: border-box; */
    width: 10rem;
    background: #FFFFFF;
    border: 1px solid #FF52C1;
    box-shadow: 0px 0px 9px rgba(255, 82, 193, 0.218778);
    border-radius: 15px;
    color: #FF52C1;
    cursor: pointer;
}

.build-page, .build-page-container{
    position: relative;
    margin-top: -5rem;
    align-items: center;
}

.build h4{
    left: 20rem;
    text-align: center;
    margin-top: 30rem;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #00252E;

}

.build h5{
    position: absolute;
    width: 550px;
    left: 50rem; 
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #00252E;
}

.btn1, .build-page-container .btn{
    position: relative;
    left: 65rem;
    top: 12rem; 
    height: 50px;
    width: 280px;
    background: #FF52C1;
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
    border-radius: 40px;
    border: none ;
    color: #FFFFFF;
    cursor: pointer;
}

.mockup{
    position: absolute;
    left: 30rem;
    top: 30rem;;

}

.diagram-page-container{
    position: absolute;
    justify-content: space-between;
  
}

.icon-1{
    position: absolute;
    left: 35rem;
    top: 100rem;
}

.icon-2{
    position: absolute;
    left: 95rem;
    top: 100rem;
}

.diagram-page-container h1{
    font-weight: 600;
    font-size: 70px;
    line-height: 144px;
    color: #00252E;
}

.diagram-page-container p{
    position: relative; 
    top: -3rem; 
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #808E9A;
    
}

.grow-page-container, .user-page-container{
    position: absolute;
    left: -10rem;

}

.col-0, .colo-2{
    position: absolute; 
    height: 35rem;
     left: 8rem; 
    top: 125rem; 
}

.grow-page-container p, .user-page-container p{
    position: absolute;
    left: 15rem;
    top: 28rem;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #00252E;
}

.grow-page-container h2, .user-page-container h2{
    position: absolute;
    width: 40rem;
    top: 35rem;
    left: 15rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00252E;
}

.col-3,  .colo-3{
    position: absolute;
    display: flex;
    width: 15rem;
    height: 35rem;
    left: 90rem;
    top: 145rem;
    
}

.flower-page-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 235rem;
}

.flower-page-container .col-5{
    position: absolute;
    display: flex;
    width: 10em;
    height: 35rem;
    left: 8rem;
    
}

.flower-page-container p{
    position: absolute;
    display: flex;
    height: 60px;
    width: 50rem;
    left: 75rem;
    top: -8rem;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #00252E;
}

.flower-page-container h2{
    position: absolute;
    height: 48px;
    left: 75rem;
    width: 45rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00252E;
}

.colo-2{
 top: 270rem;
}

.user-page-container p{
    left: 20rem;
    top: 20rem;

}

.user-page-container h2{
    top: 27rem;
    left: 20rem;
   
}

.user-page-container .colo-3{
    position: relative;
    display: flex;
    width: 10em;
    height: 35rem;
    left: 80rem;
    top: 285rem;
    
}

.build-page-container{
    width: 680px;
    left: 389px;
    top: 360rem;
}

.build-page-container p{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #00252E;
}

.build-page-container .btn{
    left: 14rem;
    width: 22rem;
    height: 4rem;
    top: 3rem;
}

footer {
    position: relative;
    display: flex;
    top: 380rem;
}

footer img{
    width: 146rem;
    left:- 1rem;
     height: 55rem;
}

footer .foot-logo {
    position: absolute;
    left: 15rem;
    top: 20rem;
}
footer .foot-logo svg path{
    fill: #ffffff;
}

footer p{
    position: absolute;
    top: 25rem;
    left: 15rem;
    width: 26rem;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.phone-icon svg{
    position: absolute;
    top: 35rem;
    left: 15rem;
}


.phone-icon p{
    position: absolute;
    top: 35rem;
    left: 18rem;
}

.mail-icon svg{
    position: absolute;
    top: 39rem;
    left: 15rem;
}

.mail-icon p{
    position: absolute;
    top: 38.50rem;
    left: 18rem;
}

.social-icon {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 10rem;
    top: 48rem;
    left: 15rem;
}

.social-icon svg path{
    fill: #FFFFFF;
   cursor: pointer;
}

.icon:hover path{
   fill: #6e55fa;
}

.new-icon h1{
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: 20rem;
    left: 76rem;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;  
    color: #FFFFFF;
}

.new-icon p{
    width: 30rem;
    top: 24rem;
    left: 76rem;
}

.new-icon button{
    position: absolute;
    left: 76rem;
    width: 27rem;
    height: 4rem;
    top: 34rem;
    background: #f8f7f7;
    border: 1px solid #FF4343;
    border-radius: 6px;
    cursor: pointer;
}

button span{
    position: relative;
    right: 9rem;
}

.new-icon h2{
    position: absolute;
    display: flex;
    align-items: center;
    top: 38rem;
    left: 76rem;
    width: 12rem;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #FF4343;
}

.subs button{
    position: absolute;
    left: 106rem;
    width: 15rem;
    height: 4rem;
    top: 34rem;
    background: #FF52C1;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}


@media only screen and (max-width: 375px), only screen and (max-device-width: 480px) {
    
    main {
        width: 375px;     
    }

    .page-content {
        position: relative;
        padding: 3rem;
        width: 375px;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
    }

    .header-content {
        display: flex; 
    }

    .header-content .btn {
        width: 15rem;
        left: 50rem;
        font-size: 25px !important;;
    }

    .build-page, .build-page-container{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .build-page .build h4{
       position: absolute;
        top: 4rem;
        width: 100rem;
        left: 20rem;
        font-size: 100px;
        line-height: 12rem;

    }

    .build-page .build h5{
        top: 60rem;
        width: 122rem;
        left: 10rem;
        font-size: 70px;
        line-height: 10rem;
    }

    .build-page .btn1 {
        position: relative;
        width: 55rem;
        height: 15rem;
        top: 120rem;
        left: 45rem;
        font-size: 50px;

    }

    .mockup {
        display: flex;
        top: 150rem;
        left: 25rem;
    }

    .diagram-page-container{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center; 
       
    }

    .icon-1 {
        top: 230rem;
        left: 50rem;
        width: 40rem;
    }

    .col-1 h1 {
        top: 6rem;
        left: 50rem;
    }

    .icon-2{
        top: 270rem;
        left: 50rem;
        width: 40rem;
    }

    .diagram-page-container  p{
        display: flex;
        left: -55px;
        justify-content: center;
        align-items: center; 
        font-size: 40px;
    }

    .grow-page-container{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 170rem;
    }

    .grow-page-container .col-0 img{
        width: 145rem;
        height: 105rem;
    }

    .grow-page-container .col-3 {
        left: 50rem;
    }

    .col-0 p{
        top: 60rem;
        left: 50rem;
    }

    .col-0 h2{
        display: flex;
        width: 60rem;
        top: 70rem;
        left: 30rem;
        font-family: 'Open Sans';
        font-style: normal;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
    }

    .flower-page-container{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 430rem;
    }

    .flower-page-container .col-5 {
        left: 40rem;
    }

    .flower-page-container p{
        top: 23rem;
        left: 40rem;
    }

    .flower-page-container h2{
        top: 33rem;
        left: 37rem;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
    }

    .user-page-container{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 230rem;
    }

    .user-page-container .colo-2 img{
        width: 145rem;
        height: 105rem;
    }

    .user-page-container .colo-3{
        left: 50rem;
    }

    .colo-2 p{
        top: 55rem;
        left: 55rem;
    }

    .colo-2 h2{
        width: 60rem;
        top: 65rem;
        left: 34rem;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 100;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
    }

    .build-page-container{
        position: absolute;
        top: 610rem;
    }

    .build-page-container p{
        width: 35rem;
    }

    .build-page-container p span{
        position: absolute;
        top: 5rem;
        left: 20rem;
    }

    .build-page-container .btn{
        position: inherit;
        width: 45rem;
        height: 10rem;
        top: 15rem;
        left: 10rem;
        font-size: 40px;
    }

    footer {
        position: relative;
        top: 650rem;
    }

    footer img{
        position: absolute;
        width: 156rem;
        top: 5rem;
        left: -10rem;
        height: 140rem;
    }

    .new-icon {
        position: absolute;
        left: -53rem;
    }

    .new-icon h1{
        top: 34rem;
        font-size: 5rem;
    }

    .new-icon p{
        width: 50rem;
        top: 45rem;
        font-style: normal;
        font-size: 2.5rem;
        line-height: 4rem;
    }

    .new-icon button{
        position: relative;
        top: 65rem;
        width: 90rem; 
        height: 10rem;
        font-style: normal;
        border-radius: 2rem;  
    }

    .new-icon h2, button span{
        display: none;
    }

     .subs button{
        position: relative;
        width: 54rem;
        top: 70rem;
        left: 113rem;
    }

    .subs .sub-text{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 450;
        font-size: 50px;
        line-height: 24px;
    }


    footer .foot-logo {
        top: 100rem;
        left: 22rem;
    
    }

    footer p{
        width: 50rem;
        top: 110rem;
        left: 23rem;
        font-style: normal;
        font-size: 2.5rem;
        line-height: 4rem;
        }

    .phone-icon svg{
        top: 36rem;
    }

    .phone-icon{
        position: absolute;;
        top: 90rem;
        left: 7rem;
    }

    .mail-icon svg{
        top: 40rem;
    }


    .mail-icon{
        position: absolute;;
        top: 93rem;
        left: 7rem;
    }

    .social-icon{
        position: absolute;
        top: 140rem;
        left: 22rem;
    }

}


