@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap'); 
* {  
    padding: 0;
    margin: 0;  
}

body{
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
    box-sizing: border-box;
    width: 1440px !important;
    height: 100vh!important;
  

}

h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
}

p{
    font-family: "Open Sans";
}

.top, 
.bottom{
    width: 100%;
}

.wrapper-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    margin-top: 3rem;
    padding: 30px;
}

.wrapper-logo-text{
    background: #FFFFFF;
    color: #FF52C1;
    height: 40px;
    width: 136px;
    border: 1px solid #FF52C1;
    box-shadow: 0px 0px 9px rgba(255, 82, 193, 0.218778);
    border-radius: 20px;
    cursor: pointer;
}

.wrapper-section-one{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #00252E;
    margin: 5rem;

}

.wrapper-section-build{
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
}

.wrapper-section-build-text{
    padding-left: 15rem;
    width: 32rem;
    font-size: 20px;
    line-height: 24px;
    margin-top: 2rem;
}

.wrapper-section-build-btn{
    margin-right: 5rem;
    margin-top: 2rem;
    width: 15rem;
    height: 3rem;
    border: none !important;
    background: #FF52C1;
    color: #FFFFFF;
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
    border-radius: 40px;
    cursor: pointer;
}

.wrapper-section-build-btn:hover{
    background: #FF8ED7;
}

.wrapper-mockup{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.wrapper-section-two{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-right: 5rem;
}

.wrapper-communities{
    margin-right: 20rem;
}

.wrapper-section-two h2{
    font-weight: 700;
    font-size: 96px;
    line-height: 144px;
}

.wrapper-section-two p{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #808E9A;
}

.wrapper-grow-together, .wrapper-users-container{
    display: grid;
    align-content: center;
    justify-content: space-between;
    margin-top: 10rem;
}

.grow-together-text h3{
    margin-left: 8rem;
    margin-top: -23rem;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

.grow-together-text p, .wrapper-users-text p{
    width: 30rem;
    margin-left: 8rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.wrapper-together{
    margin-left: 40rem;
    margin-top: -20rem;
    width: 35rem;
}

.grow-style{
    margin-top: -1rem;
}

.wrapper-flower-container{
    display: grid;
    justify-content: space-between;
    padding: 5rem;
    margin-top: 35rem;
}

.wrapper-flower-text h3{
    padding-left: 45rem;
    margin-top: -10rem;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

.wrapper-flower-text p{
    width: 31rem;
    padding-left: 45rem;
    margin-top: 1rem;
}

.wrapper-flower{
    display: flex;
    flex-direction: column;
    margin-top: -20rem;
    width: 40rem;

}

.wrapper-users-text h3{
    margin-left: 8rem;
    margin-top: -28rem;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

.wrapper-users{
    margin-left: 40rem;
    margin-top: -15rem;
    width: 35rem;
}



.user-style{
    margin-top: -1rem;
    height: 34rem;
}

.wrapper-community-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #00252E;
    margin-top: 15rem;  
}

.wrapper-build-community h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 72px;
}

.build-btn{
    width: 15rem;
    height: 3rem;
    border: none !important;
    background: #FF52C1;
    color: #FFFFFF;
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
    border-radius: 40px;
    cursor: pointer;
}

.build-btn:hover{
    background: #FF8ED7;
}

footer{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.footer-style-container{
    margin-top: -0.5rem;
    height: 30rem;
}

.footer-logo{
    padding: 5rem;
}

footer .footer-logo svg path{
    fill: #FFFFFF;
}

footer p{
    margin-top: -9rem;
    padding: 5rem;
    width: 20rem;
    color: #ffffff;
}

.phone-container{
    padding: 5rem;
    margin-top: -8rem;
    color: #FFFFFF;
}

.phone-container p{
    margin-top: -6rem;
    margin-left: -3rem;
}

.mail-container{
    padding: 5rem;
    margin-top: -14rem;
    color: #ffffff;
}

.mail-container p{
    margin-top: -6rem;
    margin-left: -3rem;
}

.social-media{
    display: flex;
    justify-content: space-between;
    margin-top: -6rem;
    margin-left: 5rem;
    width: 5rem;
}

.media:hover path{
    fill: #00C7FA;
    cursor: pointer;
}

.news-letter-container{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 15rem;
}

.news-letter {
    display: flex;
    margin-top: -18rem;
    margin-right: 17rem;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.news-letter-container p{
    margin-top: 1rem;
    margin-right: 7rem;
    padding: 0rem;
}

input{
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #FF4343;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 1rem;
    width: 15rem;
}

.submit-btn{
    margin: 1rem;
    width: 8rem;
    background: #FF52C1;
    color: #ffffff;
    cursor: pointer;
}

.submit-btn:hover{
    background: #FF8ED7;
}

.message {
    margin-top: -1rem;
    margin-right: 18rem;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #FF4343;

}

@media only screen and (max-width: 375px) {
    body{
        width: 375px;
        height: 4649px;
        overflow-x: hidden;
      
    }

    .wrapper-header{
        display: flex;
        justify-content: flex-start;
        margin-top: -1rem;
    }

   .wrapper-header-logo{
    width: 5rem;
    margin-left: -2rem;
   }

   .wrapper-logo-text{
    width: 6rem;
    height: 1.5rem;
    margin-left: 8rem;
    margin-top: 1rem;
   }

   .wrapper-section-one{
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
   }

   .wrapper-section-build{
    width: 18rem;
    line-height: 36px;
    font-size: 24px;
    font-weight: 700;
   }

   .wrapper-section-build-text{
    width: 16rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-left: -14rem;
   }

   .wrapper-section-build-btn{
    width: 12rem;
    height: 2.5rem;
    margin-left: 3rem;
    font-size: 12px;
    font-weight: 700;
   }

   .wrapper-mockup{
    display: flex;
    justify-content: flex-start;
    margin-left: 2.5rem;
   }

   .mockup{
    width: 16rem;
   }

   .wrapper-section-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
   }

   .icon{
    width: 29.21px ;
    /* padding-bottom: 1rem; */
   }

   .wrapper-communities h2, .wrapper-messages h2{
    margin-top: -2rem;
    font-size: 60px;
   }

   .wrapper-communities p, .wrapper-messages p{
    flex-direction: inherit;
    display: flex;
    margin-top: -2.5rem;
    padding-bottom: 5rem;
    margin-left: 0.5rem;
    font-size: 15px;
    font-weight: 400;
   }

   .wrapper-grow-together{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
   
   }

   .top{
    margin-left: -7rem;
    width: 35rem;
    height: 45rem;
   }

   .wrapper-together{
    position: absolute;;
    margin-top: -29rem;
    margin-left: 1.5rem;
    width: 280px;
   }

   .grow-together-text h3{
    font-size: 20px;
    margin: 5rem;
    margin-top: -17rem;
   }

   .grow-together-text p{
    display: flex;
    width: 17rem;
    margin-top: -5rem;
    margin-left: 2.5rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
   }

   .wrapper-flower-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
   }







}

